src/main/mule/poc.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="4de33721-49c7-442a-9cb9-cc9a2415be35" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<flow name="pocFlow" doc:id="bf16f3a4-1778-4661-bbb8-bd3e55031971" >
		<http:listener doc:name="Listener" doc:id="c380e772-43cd-4206-a055-cf6c0ab23cc6" config-ref="HTTP_Listener_config" path="/function"/>
		<set-payload value='#["Sangeetha-Reddy"]' doc:name="Set Payload" doc:id="8440604a-b040-44f0-bb7e-76d370e711d3" />
		<ee:transform doc:name="Transform Message" doc:id="172e60a6-1aa0-4d05-8897-6e301424e621" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---

"sangeetha"
]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="Logger" doc:id="133d9b31-794a-4137-91fc-edf61f406943" message="#[payload]"/>
	</flow>
</mule>
